/* Tablet Views ******************************/
@media only screen and (max-width: 80em) and (min-width: 52.5em) {
	main {
		grid-template-columns: 1fr 1fr 1fr;
	}

	main section {
		display: block;
        grid-column: span 3;
	}

	main section:nth-child(5) {
		grid-column: span 2;
	}

    main section:nth-child(6) {
		grid-column: span 1;
	}

	main section picture {
		display: block;
	}
	main section picture img {
		width: 100%;
		height: auto;
		border: 1px solid #bbb;
	}

	.sidebar {
		grid-template-columns: 1fr;
	}

	.sidebar .closebtn {
		right: 1%;
	}
}