.row {
    display: flex;
    background-color:darkblue;
    border-radius: 25px;
    color:white;
    padding:20px;

    box-shadow: 
        0 1px 1px black,
        0 4px 4px rgb(63, 63, 63),
        0 6px 6px gray,
        0 8px 8px lightgray;
    text-shadow: 2px 2px rgb(85, 85, 85);
  }
  
  .column {
    padding: 5px;
    flex: 1/3;
  }
  .column p {
    font-size: x-large;
    padding-top: 20%;
  }
  img {
    border-radius: 5%;
    box-shadow: 
        2px 2px black,
        3px 3px rgb(63, 63, 63);
  }
  h1 {
    text-shadow: 2px 2px darkgray;
  }