header {
  display: flex;
  max-width: 800px;
}
footer {
  display: block;
  max-width: 600px;
}
main {
  max-width: 600px;
}
.row {
    background-color:darkblue;
    border-radius: 25px;
    color:white;
    padding:20px;

    box-shadow: 
        0 1px 1px black,
        0 4px 4px rgb(63, 63, 63),
        0 6px 6px gray,
        0 8px 8px lightgray;
    text-shadow: 2px 2px rgb(85, 85, 85);
    padding-right: 180px;
  }
  
  .column {
    float: left;
    padding: 5px;
    font-size: x-large;
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  img {
    border-radius: 5%;
    box-shadow: 
        2px 2px black,
        3px 3px rgb(63, 63, 63);
  }
  h1 {
    text-shadow: 2px 2px darkgray;
  }